body {
   color: #000;
   font-family: Helvetica, Arial, sans-serif;
   text-align: center;
}

/*#wrap {
  margin: 0 auto;
}*/

.boxes {
  background-color: lightgray;
  height: 80px;
  width: 80px;
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
}

/*.boxes:hover {
  background-color: gray;
}*/

.bluebox {
  background-color: blue;
}

.redbox {
  background-color: red;
}

/* wipe and reset buttons */
button {
  font-size: 20px;
  border-radius: 5px;
  margin: 10px;
  display:inline-block;
  text-align: center;
}
